@media (max-width: 786px) {
  #order-form {
    flex-direction: column !important;
    gap: 1.2rem !important;
    padding: 1rem 0.2rem !important;
  }
  #cart-items, .w-md-50 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .cart-item, .cart-item .card, .cart-item img {
    width: 100% !important;
    max-width: 100% !important;
  }
  .cart-item img {
    max-width: 90px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .cart-item h5 {
    font-size: 1rem !important;
  }
  .border.p-3.mb-3.bg-light {
    padding: 1rem !important;
    font-size: 15px;
  }
  label, .form-label, .form-control, select, textarea, .btn {
    font-size: 15px !important;
  }
  .cart-item .form-control, .cart-item .form-select {
    font-size: 14px !important;
    padding: 0.1rem 0.3rem !important;
  }
}

@media (max-width: 400px) {
  .cart-item img {
    max-width: 65px !important;
  }
}
