@media(min-width:992px){
    .product-section{
        gap: 50px !important;
    }
}
@media screen and (min-width:661px) and (max-width:991px){
    .product-section{
        gap: 40px !important;
    }
}
@media screen and (min-width:480px) and (max-width:661px){
    .product-section{ gap: 20px !important; }
}

  #starRating { font-size: 2rem; cursor: pointer; }
  .star { color: lightgray; user-select: none; display: inline-block; margin-right: 5px; }
  .star.selected { color: gold; }
  @media screen and (max-width:480px){
    .helstar{ justify-content: space-between; }
    .divhel{ flex-direction: column; }
  }

  /* paginator loader */
#loading.htmx-request {
  display: block !important;
}

.spinner-border {
  color: #007bff;
}