<!DOCTYPE html>
<html lang="en" style="scrollbar-width: none;">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Home | Show_me{% endblock %}</title>
  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'logo/favicon.jpg' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS & JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"
    defer></script>
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Link to custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- Link to custom JS -->
  <script defer src="{% static 'js/base.js' %}"></script>

</head>

<body>


  <div class="main-container" style="background: #ffffff; flex-direction: column; display: flex">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px !important">
      <div class="container-fluid bg-dark" style="padding: 5px 0px 5px 10px;">
        <div id="logo-wrp" class="w-100 d-flex justify-content-between align-items-center" style="gap:60px;">
          <div class="d-flex align-items-center" style="gap: 40px;width: 100%;">
            <!-- Dropdown menu -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link" id="dropdownToggleBtn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="Category" style="padding: 0px !important; font-size: 25px; margin-left: 20px">
                  <i class="bi bi-list"></i>
                </a>
                <ul class="dropdown-menu custom-dropdown-menu overflow-auto" style="top: 126%; max-height: 80vh">
                  <li>
                    <h6 class="dropdown-header">Categories</h6>
                  </li>
                  <!-- Categories will be inserted here by JS -->
                  <span id="dropdown-category-list"></span>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item text-info" href="javascript:void(0);">Show All</a>
                  </li>
                </ul>
              </li>
            </ul>

            <div class="navbar-brand" style="font-size: 30px; color: #21d6f9 !important" onclick="window.location.href='/'">
              <em><b>Show Me</b></em>
            </div>
          </div>

          <!-- Desktop Search -->
          <input type="text" id="searchInputDesktop" class="form-control desktop-search" placeholder="Search...">

          <!-- Search Icon for Mobile -->
          <i class="bi bi-search search-icon" id="searchToggleIcon"></i>

          <!-- Right icons -->
          <div class="d-flex align-items-center" style="padding: 0px 10px; gap:10px;">
            <div class="cart-link d-flex align-items-center text-white" onclick="window.location.href='/'"
              style="cursor: pointer; margin-right: 20px; gap: 10px">
              <i class="bi bi-house" style="font-size: 20px;"></i>
              <span style="font-size: 14px; white-space:nowrap;">Home</span>
            </div>
            <div class="cart-link d-flex align-items-center text-white tq1" onclick="window.location.href='/orders/'"
              style="cursor: pointer; margin-right: 20px; gap: 10px">
              <i class="bi bi-truck" style="font-size: 20px;"></i>
              <span style="font-size: 14px; white-space:nowrap;">Orders</span>
            </div>
            <div class="cart-link d-flex align-items-center text-white" onclick="window.location.href='/cart/'"
              style="cursor: pointer; margin-right: 20px">
              <i class="bi bi-cart3 me-2" style="font-size: 20px"></i>
              <span style="font-size: 14px">Cart</span>
            </div>

            {% if user.is_authenticated %}
            <div class="dropdown">
              <a class="d-flex align-items-center text-decoration-none" href="#" id="avatarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.user.profile_photo_url %}
                <img src="{{ request.user.profile_photo_url }}" id="pro-pic" class="rounded-circle" width="40"
                  height="40" style="object-fit: cover" alt="User profile photo" />
                {% else %}
                <div id="pro-pic" class="avatar-circle" aria-label="User initial avatar" role="img">
                  {{request.user.first_name|default:request.user.username|slice:":1"|upper }}</div>
                {% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="profileDropdown"
                style="min-width: 250px; border-radius: 10px; top: 122%;">
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="/profile/"><i
                      class="bi bi-person-circle"></i> My Profile</a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="/orders/"><i
                      class="bi bi-box-seam"></i> Orders</a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="/cart/"><i class="bi bi-cart3 me-2"></i> Cart</a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="/wishlist/"><i
                      class="bi bi-heart"></i> Wishlist</a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-bell"></i> Notifications</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <form action="{% url 'log_out' %}" method="POST">{% csrf_token %}
                  <button type="submit" class="dropdown-item" style="color: #3bf6ff;"><i class="bi bi-box-arrow-right"></i> Login Another Account</button>
                </form>
                <form action="{% url 'log_out' %}" method="POST">{% csrf_token %}
                  <button type="submit" class="dropdown-item text-danger"><i class="bi bi-box-arrow-right"></i> Logout</button>
                </form>
              </ul>
            </div>
            {% else %}
            <div style="display: flex; gap: 10px;">
              <button type="button" class="btn btn-primary lg-btnn d-flex align-items-center gap-2"
                onclick="window.location.href='/login/'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Log In">
                <i class="bi bi-box-arrow-in-right"></i>
              </button>
              <button type="button" class="btn btn-secondary lg-btnn d-flex align-items-center gap-2"
                onclick="window.location.href='/signin/'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign In">
                <i class="bi bi-person-plus"></i>
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Mobile Search (below navbar) -->
      <div class="mobile-search-container d-flex justify-content-center" style="padding: 0px;">
        <input type="text" id="searchInputMobile" class="form-control mobile-search" placeholder="Search...">
      </div>
    </nav>
    <sub-nav class="sub-navbar" id="SubNav" style="display: none;">
      <div class="nav-item" onclick="window.location.href='/'"><i class="bi bi-house"></i> Home</div>
      <div class="nav-item" onclick="window.location.href='/orders/'"><i class="bi bi-truck"></i> Orders</div>
      <div class="nav-item" onclick="window.location.href='/cart/'"><i class="bi bi-cart"></i> Cart</div>
      <div class="nav-item" onclick="window.location.href='/wishlist/'"><i class="bi bi-heart"></i> Wishlist</div>
    </sub-nav>

    <div class="sub-container d-flex flex-column align-items-center min-vh-75 overflow-y-scroll" style="
          min-height:100vh;
          scrollbar-width:none;
          padding:10px;
        ">
      {% block content %}{% endblock %}
    </div>

    <footer class="bg-dark text-white pt-5 pb-4 mt-4">
      <div class="container text-md-left w-100"style="max-width:900px;">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h5 class="text-uppercase fw-bold">show_me</h5>
            <p>Discover the latest trends in fashion with <strong>show_me</strong>. Shop clothes, accessories, and more with confidence and style.</p>
            <p><i class="bi bi-telephone-fill me-2"></i> +91 6294258762</p>
            <p><i class="bi bi-envelope-fill me-2"></i> showme22k@gmail.com</p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h5 class="text-uppercase fw-bold">Categories</h5>
            <span id="sidebar-category-list"></span>  <!-- Unique ID -->
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h5 class="text-uppercase fw-bold">Join Our Community</h5>
            <form>
              
              <button type="button" 
                onclick="window.open('https://chat.whatsapp.com/EwZy2Ma6rlgDIoJyXop7iH', '_blank')" 
                class="btn btn-outline-light btn-sm w-100">
                JOIN
              </button>

            </form>
          </div>

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
            <h5 class="text-uppercase fw-bold">Visit Us</h5>
            <div class="ratio ratio-16x9">
              <iframe src="https://maps.google.com/maps?q=kolkata%20shopping&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="100%" height="150" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>

        <hr class="mb-4 mt-4 text-light" />

        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-start mb-0">&copy; 2025 <strong>show_me</strong> | Dress with Confidence.</p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-end">
              <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
              <a href="#" class="text-white me-3"><i class="bi bi-twitter-x"></i></a>
              <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
              <a href="#" class="text-white"><i class="bi bi-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <style>
    .dropdown-item{
      color:white;
    }
  </style>
</body>

</html>
