{% extends 'admin/home.html' %}
{% load static %}
{% block title %}Create Subcategory{% endblock %}

{% block content %}
<div class="container" style="padding: 40px;max-width: 600px;background: whitesmoke;border-radius: 10px;">
  <h2 class="mb-4">Create New Subcategory</h2>

  <form id="createSubcategoryForm">
    <div class="mb-3">
      <label for="category_id" class="form-label">Category</label>
      <select class="form-select" id="category_id" required>
        <option value="" selected disabled>Choose a category</option>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="mb-3">
      <label for="name" class="form-label">Subcategory Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

<script>
  document.getElementById('createSubcategoryForm').addEventListener('submit', async function (e) {
    e.preventDefault();
    const data = {
      name: document.getElementById('name').value,
      description: document.getElementById('description').value,
      category_id: document.getElementById('category_id').value
    };
    const loader = document.querySelector('.loading');
    loader.style.display='flex';

    const response = await fetch("{% url 'subcategory_create' %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': 'csrfToken'
      },
      body: JSON.stringify(data)
    });

    const result = await response.json();
    if (result.id) {
                  loader.style.display='none';

      window.location.href = "{% url 'subcategory' %}";
    } else {
              loader.style.display='none';

      alert(result.error || 'Creation failed.');
    }
  });
</script>
{% endblock %}
